body{
    padding: 0;
    margin: 0;
   
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%, #285AEB 100%);
    /*background: linear-gradient(to bottom, #ccccff 0%, #ffccff 100%);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 727px;
}

h1{
    margin-top: 50px;
    font-family: 'Mountains of Christmas', cursive;

}

h1 img{
    width: 30px;
}

ul{
    list-style-type: none;
    float: left;
}

li{
    float: left;
}

.dog-img{
    border: 1px solid #ffffff;
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-left: 20px;
    box-sizing: border-box;
} 

.dog-img:hover{
    cursor: pointer;
}

#div1{
    width: 85%;
    min-height: 300px;
    float: left;
    margin: 9%;
    box-sizing: border-box;

}

#div1 img:nth-child(1){
    width: 51%;
    height: 50%;
    margin: 0;
}

#div1 img:nth-child(2){
    width: 49%;
    height: 36%;
    margin: 0;
}

#div1 img:nth-child(3){
    width: 36%;
    margin: 0;
}

#div1 img:nth-child(4){
    width: 141px;
    height: 121px;
    margin: 0;
}

#div1 img:nth-child(5){
    width: 112px;
    height: 119px;
    margin: 0;
}

#div1 img:nth-child(6){
    width: 135px;
    height: 89px;
    margin: 0;
} 

@media (min-width: 992px) { 
    #div1{
        width: 900px;
        height: 400px;
        position: relative;
        margin: 5%;
        
    }
}
